* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: #313131;
    text-shadow: 1px 1px 3px #444444;
    text-align: center;
    margin-top: 30px;
}

.header {
    text-align: center;
    background-color: #ff6060;
}

.navbar {
    text-align: center;
    background-color: transparent;
    padding-top: 25px;
}

.navbar a {
    font-size: 120%;
    text-decoration: none;
    color: #ffffff;
}

.button {
    border-radius: 1000px;
    padding: 13px;
    padding-left: 17px;
    padding-right: 17px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 0 14px #c54b4b;
}

.active {
    box-shadow: 0 0 14px #c54b4b;
}

.logo-img {
    margin-top: 30px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.card {
    border: 2px solid #a3a3a3;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px;
    width: 500px;
}

.author {
    color: #000;
    font-size: 90%;
    color: #0da0da;
    text-decoration: none;
}

.date_posted {
    float: right;
    font-size: 80%;
}

.author-profile {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 8px #929292;
}

.name {
    font-size: 90%;
    margin-top: 25px;
}

.title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 180%;
    color: black;
}

form {
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}

.entry {
    margin: 10px;
}


input {
    border: none;
    border-bottom: 2px solid #383838c7;
    padding: 5px;
    height: 20px;
    width: 240px;
    outline: none;
    font-size: 105%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    text-align: center;
}


input::placeholder {
    text-align: center;
    color: #4444448f;
}

input:focus {
    border-bottom: 4px solid #ff4961;
}

.error-text {
    font-size: 80%;
    margin-top: 7px;
    color: #ff6060;
}
.help-text {
    font-size: 80%;
    color: #119cf8;
}

.submit {
    font-size: 110%;
    padding: 15px;
    border: none;
    margin-top: 10px;
    border-radius: 1000px;
    background-color: #ff6060;
    color: #fff;
    box-shadow: 0 0 10px #969595;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.submit:hover {
    box-shadow: 0 0 14px #ff3a3a;
}

.notice {
    margin-top: 20px;
    padding: 30px;
}

.message {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}

.success {
    color: #fff;
    background-color: #43db76;
    box-shadow: 0 0 14px #36bd63;
}

.error {
    color: #fff;
    background-color: #ff3a3ad3;
    box-shadow: 0 0 14px #ff1414d3;
}

.account {
    padding: 20px;
    text-align: center;
}

.label {
    font-size: 110%;
    width: 240px;
    margin: auto;
    padding: 10px;
    border-radius: 1000px;
    box-shadow: inset 0 0 8px #929292;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 8px #929292;
}