* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f3f3f3;
    padding-bottom: 100px;
}

h1 {
    color: #313131;
    text-shadow: 0 0 3px #444444;
    text-align: center;
    margin-top: 30px;
}

.confirmation-title {
    color: #313131;
    text-shadow: 0 0 2px #444444;
    text-align: center;
    margin-top: 10px;
}

.header {
    text-align: center;
    background-color: #ff6060;
}

.navbar {
    text-align: center;
    background-color: transparent;
    padding-top: 25px;
}

.navbar a {
    font-size: 120%;
    text-decoration: none;
    color: #ffffff;
}

.button {
    border-radius: 1000px;
    padding: 13px;
    padding-left: 17px;
    padding-right: 17px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.user-options {
    text-align: center;
    padding-top: 20px;
    margin: 20px;
}

.user-options .green {
    background-color: #43db76;
}

.user-options .green:hover {
    box-shadow: 0 0 14px #36bd63;
}

.user-options .red {
    background-color: #ff2a2ad3;
}

.user-options .red:hover {
    box-shadow: 0 0 14px #ff2a2ad3;
}

.button:hover {
    box-shadow: 0 0 14px #c54b4b;
}

.active {
    box-shadow: 0 0 14px #c54b4b;
}

.logo-img {
    margin-top: 30px;
}


.container {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cecece;
}

.confirmation-container {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cecece;
}

.content {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 100%;
    line-height: 25px;
}

.blogs-container {
    text-align: center;
    padding-bottom: 20px;
    width: 670px;
    margin: auto;
    align-items: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cecece;
    padding: 25px;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    padding-bottom: 40px;
    background-color: #fff;
}

.date {
    float: right;
    color: #f54e64;
    font-size: 85%;
}

.card-text p {
    color: #5c5c5c;
    font-size: 100%;
    line-height: 23px;
    margin-bottom: 40px;
}

.card-text h2 {
    margin-bottom: 20px;
    font-size: 180%;
    text-shadow: 0 0 5px #acacac;
}

.author-profile {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 8px #929292;
}

.name {
    float: left;
    color: #11b4ff;

}
.card-submit {
    margin-left: 480px;
    padding: 15px;
    border: none;
    border-radius: 1000px;
    background-color: #ff6060;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.card-submit:hover {
    box-shadow: 0 0 14px #ff3a3a;
}

form {
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
}

.entry {
    margin: 10px;
}


input {
    border: none;
    border-bottom: 2px solid #383838c7;
    padding: 5px;
    height: 20px;
    width: 240px;
    outline: none;
    font-size: 105%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
}


input::placeholder {
    text-align: center;
    color: #4444448f;
}

input:focus {
    border-bottom: 2px solid #ff4961;
    box-shadow: inset 0 -3px 3px -3px #ff4961;
}

.error-text {
    font-size: 80%;
    margin-top: 7px;
    color: #ff6060;
}
.help-text {
    font-size: 80%;
    color: #119cf8;
}

.submit {
    font-size: 110%;
    padding: 15px;
    border: none;
    margin-top: 10px;
    border-radius: 1000px;
    background-color: #ff6060;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.submit:hover {
    box-shadow: 0 0 14px #ff3a3a;
}

.notice {
    margin-top: 20px;
    padding: 30px;
}

.message {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}

.success {
    color: #fff;
    background-color: #43db76;
    box-shadow: 0 0 14px #36bd63;
}

.error {
    color: #fff;
    background-color: #ff3a3ad3;
    box-shadow: 0 0 14px #ff1414d3;
}

.account {
    padding: 20px;
    text-align: center;
}

.label {
    font-size: 110%;
    width: 240px;
    margin: auto;
    padding: 10px;
    border-radius: 1000px;
    box-shadow: inset 0 0 8px #929292;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 8px #929292;
}

.content-create {
    height: 500px;
    border-radius: 10px;
    border: 2px solid #383838c7;
    width: 100%;
    outline: none;
    font-size: 105%;
    padding: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.content-create:focus {
    border: 2px solid #ff4961;
    box-shadow: inset 0 0 5px #ff4961;
}